---
layout: default
title: Home
---

<div class="articles">
    {% for post in paginator.posts %}

    <article class="articles__article article">
        <h3 class="article__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <!-- {% if post.categories %}
        <dl class="article__terms">
            <dt>Categories:</dt>
            <dd>
                {% for category in post.categories %}
                <a href="/{{category|slugize}}">{{ category }}</a>
                {% if forloop.last == false %},{% endif %}
                {% endfor %}
            </dd>
        </dl>
        {% endif %} -->
        <p class="article__excerpt">{{ post.excerpt }}</p>
        <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%d/%m/%Y" }}</time>
    </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}

    <div class="articles__pagination pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination__prev pagination-link"><i class="i i-arrow-left"></i>Previous
            Page</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ pagination.next_page_path }}" class="pagination__next pagination-link">Next
            Page<i class="i i-arrow-right"></i></a>
        {% endif %}
    </div>
    {% endif %}

    <!-- <div class="articles__navs articles-nav">
        <nav class="articles-nav__categories">
            <h2>Categories</h2>
            <ul>
                {% assign categories_list = site.categories %}
                {% if categories_list.first[0] == null %}
                {% for category in categories_list %}
                <li><a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
                {% endfor %}
                {% else %}
                {% for category in categories_list %}
                <li><a href="/{{ category[0] | downcase }}">{{ category[0] | capitalize }}</a></li>
                {% endfor %}
                {% endif %}
                {% assign categories_list = nil %}
            </ul>
        </nav>

        <nav class="articles-nav__archives">
            <h2>Blog Archives</h2>
            {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date" %}
            <ul>
                {% for yearMonth in postsByYearMonth %}
                <li><a href="/{{ | date: '%y/%b'" }}">{{ yearMonth.name | date: '%Y %b'" }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <nav class="articles-nav__tagcloud">
            <h2>Tag Cloud</h2>
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
            <span class="site-tag">
                <a href="/tag/{{ tag | first | slugify }}/" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                    {{ tag[0] | replace:'-', ' ' }}
                </a>
            </span>
            {% endfor %}
        </nav>

    </div> -->
</div>