.sidebar {
  background-color: $c--black;
  text-align: center;
  padding-bottom: $spacing-unit;

  @include mq($from: desktop) {
    position: absolute;
    width: $sidebar-width;
    top: 0;
    bottom: 0;
    padding-bottom: $spacing-unit;

    @media (min-height: 880px) {
      position: fixed;
    }

  }

  .action-icon {
    @include icon($close);

    @include mq($from: desktop) {
      display: none;
    }

    display: block;
    font-size: 40px;
    position: absolute;
    right: $spacing-unit/2;
    top: $spacing-unit/2;

  }

  .action-text {
    display: none;
  }

  .sidebar__logo {
    height: 280px;
    width: 280px;
    margin-top: $spacing-unit;
  }

  .sidebar__title {
    color: $c--white;
  }

  .sidebar__tagline {
    margin-top: $spacing-unit/4;
    color: darken($c--white, 50);
  }

  .sidebar__nav {
    margin: $spacing-unit*1.5 0;

    li a {

      display: block;
      width: 100%;
      color: $c--light-grey;
      border-left: 6px solid $c--dark-green;
      background: $c--dark-blue;
      line-height: $spacing-unit*3;
      font-size: 20px;
      margin-bottom: $spacing-unit/3;

      &.is-current,
      &:hover,
      &:focus {
        border-left-color: $c--bright-green;
        color: $c--white;
        background: $c--light-grey;
      }

    }

  }

  .sidebar__social-media {
    margin-bottom: $spacing-unit/2;

    .i {
      font-size: 45px;
      color: darken($c--white, 10);
      margin: 0 4px;
    }

  }

  .sidebar__copyright {
    color: darken($c--white, 50);
    margin-bottom: $spacing-unit/2;
  }

}

.sidebar--minimised {
  @include mq($to: desktop) {
    position: relative;
    padding-bottom: 0;
    text-align: left;

    .action-icon {
      @include icon($menu11);
      font-size: 60px;
      margin-top: $spacing-unit/4;
      top: 18px;
    }

    .action-text {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -18px;
      margin-left: -48px;
      color: white;
      font-size: 24px;
    }

    .sidebar__logo {
      height: 80px;
      width: 80px;
      margin: $spacing-unit/2;
    }

    .sidebar__title,
    .sidebar__tagline,
    .sidebar__nav,
    .sidebar__social-media,
    .sidebar__copyright {
      display: none;
    }

  }

}