$twitter2-font-family: "icons";
$twitter2-value: "\e000";
$twitter2: "icons" "\e000";
$steam2-font-family: "icons";
$steam2-value: "\e001";
$steam2: "icons" "\e001";
$arrow-right-font-family: "icons";
$arrow-right-value: "\e008";
$arrow-right: "icons" "\e008";
$arrow-right2-font-family: "icons";
$arrow-right2-value: "\e007";
$arrow-right2: "icons" "\e007";
$arrow-left-font-family: "icons";
$arrow-left-value: "\e009";
$arrow-left: "icons" "\e009";
$menu11-font-family: "icons";
$menu11-value: "\e002";
$menu11: "icons" "\e002";
$linkedin-font-family: "icons";
$linkedin-value: "\e003";
$linkedin: "icons" "\e003";
$close-font-family: "icons";
$close-value: "\e006";
$close: "icons" "\e006";
$github5-font-family: "icons";
$github5-value: "\e004";
$github5: "icons" "\e004";
$facebook2-font-family: "icons";
$facebook2-value: "\e005";
$facebook2: "icons" "\e005";

@mixin icon-font-family($char) {
  font-family: nth($char, 1);
}

@mixin icon-font() {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@mixin icon-content($char) {
  content: nth($char, 2);
}

@mixin icon($char) {
  @include icon-font-family($char);
  @include icon-font();

  &:before {
    @include icon-content($char);
  }
}

@font-face {
  font-family: "icons";
  src:url("./fonts/icons.eot");
  src:url("./fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("./fonts/icons.woff") format("woff"),
    url("./fonts/icons.ttf") format("truetype"),
    url("./fonts/icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
